// VARIABLES

$dark: #233849;
$primary: #4D799D;
$gray: #727272;
$light: #B9B9B9;
$border: #D9D9D9;
$accent: #F2B124;
$white: #ffffff;
$black: #000000;

$font: 'Poppins', sans-serif;

$desktop-padding: 80px;
$mobile-padding: 16px;

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 14px;
  color: $gray;
  background: $white;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

//ICON

.icon {
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
}

.icon--phone {
  width: 18px;
  height: 18px;
}

.icon--social {
  width: 25px;
  height: 25px;
}

// CONTAINER

.container {
  width: 100%;
  padding: 0 $desktop-padding;
}

section {
  padding: 80px 0 0 0;
}

// BUTTONS

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 0 20px;

  background: $accent;
  color: $white;
  border: 1px solid $accent;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: transparent;
  color: $accent;
}

// HEADER

.header {
  width: 100%;
  top: 0;
  left: 0;
  background: $primary;
}

.header .container {
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 50px; 
  height: auto;
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  align-items: center;
  color: $white;
  font-weight: 400;
  transition: 0.3s;
}

.header__link:hover {
  color: $accent;
}

.header__select {
  height: 24px;
  color: $accent;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
}
.header__select option {
  color: $primary;
}

.header__contacts {
  position: relative;
}
.header__dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  width: 171px;
  padding: 4px;

  background: $white;
  color: $primary;

  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  display: none;
  flex-direction: column;
  gap: 10px;

  z-index: 100;
}
.header__contacts.active .header__dropdown {
  display: flex;
}
.header__dropdown-phone {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  color: $primary;
}
.header__dropdown-socials {
  display: flex;
  gap: 10px;
}
.header__contacts-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.header__arrow {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.header__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: $primary;
  color: $white;

  border: 2px solid $accent;
  border-radius: 3px;

  padding: 4px;
  height: 25px;

  font-size: 14px;
  font-weight: 400;

  cursor: pointer;
  transition: 0.3s;
}

.header__button:hover {
  background: $accent;
  color: $white;
}

.header__mobile-controls {
  display: none;
}

.header__burger {
  display: none;
  flex-direction: column;
  gap: 11px;
  padding: 6px;
  border: 1px solid $white; 
  border-radius: 3px;      
  cursor: pointer;
}

.header__burger span {
  width: 32px;
  height: 1px;
  background: $white;
}

// HERO

.hero {
  min-height: 856px;
  background: url("./images/hero.png") center/cover no-repeat;
  position: relative;

  display: flex;
  align-items:center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
}

.hero .container {
  position: relative;
  z-index: 2;
}
.hero__content {
  max-width: 700px;
}

.hero__title {
  font-size: 56px;
  color: $white;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__description {
  font-size: 18px;
  color: $white;
  margin-bottom: 30px;
}

.hero__actions {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 193px;
  height: 43px;

  background: $accent;
  color: $white;

  border-radius: 3px;
  border: 2px solid $accent;

  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.3s ease;
}

.hero__button:hover {
  background: $white;
  color: $accent;
}

.hero__scroll {
  margin-top: 15px;
  display: flex;
  cursor: pointer;
}
.arrow {
  opacity: 0.2;
  transition: opacity 0.3s;
}
@keyframes wave {
  0%   { opacity: 0.2; }
  25%  { opacity: 1; }
  50%  { opacity: 0.5; }
  75%  { opacity: 0.2; }
  100% { opacity: 0.2; }
}
.arrow-1 {
  animation: wave 1.5s infinite;
  animation-delay: 0s;
}

.arrow-2 {
  animation: wave 1.5s infinite;
  animation-delay: 0.2s;
}

.arrow-3 {
  animation: wave 1.5s infinite;
  animation-delay: 0.4s;
}

// SCHEDULE

.schedule__title {
  text-align: center;
  color: $dark;
  font-size: 30px;
  margin-bottom: 10px;
}

.schedule__subtitle {
  text-align: center;
  margin-bottom: 40px;
}

// form

.flatpickr-calendar {
  font-size: 12px !important;    
}

.schedule-form {
  background: $white;
  padding: 32px;
  border-radius: 12px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  gap: 20px;
  align-items: flex-end;

  margin-bottom: 40px;
}

.schedule-form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.schedule-form__label {
  color: $dark;
  font-weight: 500;
}

.schedule-form__button {
  flex: 1; 
  height: 35px;

  background: $primary;
  color: $white;

  border-radius: 3px;
  border: 2px solid $primary;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.schedule-form__button:hover{
  background: $white;
  color: $primary;
}

.schedule-form__input,
.schedule-form__select {
  border: 1px solid $border;
  height: 35px;
  padding: 0 10px;
}

// cards 

.schedule__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.schedule-card {
  background: $white;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedule-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-card__date,
.schedule-card__price {
  color: $dark;
  font-weight: 600;
}

.schedule-card__time {
  color: $black;
  font-weight: 400;
}

.schedule-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.schedule-card__places {
  color: $black;
  font-weight: 400;
}

.schedule-card__button {
  width: 112px;
  height: 35px;

  background: $accent;
  color: $white;

  border: 2px solid $accent;
  border-radius: 3px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.schedule-card__button:hover {
  background: $white;
  color: $accent;
}

// disabled card

.schedule-card--disabled .schedule-card__date,
.schedule-card--disabled .schedule-card__price {
  color: $gray;
  font-weight: 600;
}

.schedule-card--disabled .schedule-card__time,
.schedule-card--disabled .schedule-card__places {
  color: $gray;
  font-weight: 400;
}

.schedule-card--disabled .schedule-card__button {
  display: none;
}

// REVIEWS
.reviews {
  margin-bottom: 80px;
}
.reviews__title {
  text-align: center;
  color: $dark;
  font-size: 30px;
  margin-bottom: 40px;
}

.reviews__slider {
  overflow: hidden;
  position: relative;
  padding: 10px 10px 80px;
}

.reviews__track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
  will-change: transform;
}

// review card
.review-card {
  flex: 0 0 calc((100% - 20px) / 2);
  box-sizing: border-box;
  background: $white;

  display: flex;
  gap: 16px;

  padding: 20px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.review-card__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

// review card header
.review-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review-card__author {
  color: $dark;
  font-weight: 600;
}

.review-card__author span {
  color: $accent;
  font-weight: 400;
}

.review-card__date {
  color: $dark;
  font-weight: 500;
}

// text 
.review-card__text {
  width: 100%;
  color: $dark;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}

// раскрытый текст 
.review-card__text.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  display: block;
}
// "далее"
.review-card__more {
  background: none;
  border: none;
  color: $gray;
  cursor: pointer;
}

// rating
.review-card__rating {
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

.star {
  width: 16px;
  height: 16px;
  fill: $light;
}

.star.filled {
  fill: $accent;
}

// arrows
.reviews__arrow {
  position: absolute;
  bottom: 10px;

  width: 30px;
  height: 30px;
  border-radius: 12%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent;
  color: $white;

  border: none;
  cursor: pointer;
}

.reviews__icon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: $white;
  stroke-width: 2;
}

.reviews__arrow--prev {
  right: 56px;
}

.reviews__arrow--next {
  right: 10px;
}

// FOOTER

.footer {
  background: $primary;
  color: $white;
  padding: 40px 0;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo img {
  height: 40px;
  width: auto;
  display: block;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

// контакты
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  font-size: 14px;
  font-weight: 600;
}

.footer__phone {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $white;
  font-size: 14px;
}
.footer__phone:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

// футер информация
.footer__info {
  font-size: 14px;
}

.footer__link {
  color: $white;
  text-decoration: none;
  transition: 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__bottom {
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 20px;
  font-size: 14px;
}

// MOBILE 
@media (max-width: 768px) {

  .container {
    padding: 0 $mobile-padding;
  }

  .hero__title {
    font-size: 36px;
  }
  // в 1 колонку
  .schedule-form {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .schedule-form__group {
    width: 100%;
  }

  .schedule-form__input,
  .schedule-form__select,
  .schedule-form__button {
    width: 100%;
  }

  .schedule-form__button {
    margin-top: 10px;
  }

  // в 1 колонку
  .schedule__list {
    grid-template-columns: 1fr;
  }

  // 1 карточка
  .review-card {
    flex: 0 0 100%;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .review-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  .review-card__avatar {
    width: 60px;
    height: 60px;
  }

  .review-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }

  .review-card__text{
    text-align:start;
  }

  .reviews__track {
    gap: 0;
  }

  // header (burger menu)
  .header {
    position: relative;
  }

  .header .container {
    display: flex;
    align-items: center;
  }

  .header__burger {
    display: flex;
    flex-shrink: 0;
  }

  .header_mobile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header__mobile-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
  }

  .header__select--desktop,
  .header__button {
    display: none;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: $primary;
    padding: 20px;
    gap: 20px;
    z-index: 1000;
  }

  .header__nav.active {
    display: flex;
  }


  // footer в столбец
  .footer__content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

  // TABLET
  @media (max-width: 1024px) {

    .container {
      padding: 0 40px;
    }

    .header__nav {
      gap: 25px;
    }

    .hero__title {
      font-size: 44px;
    }

    .schedule-form {
      flex-wrap: wrap;
      gap: 15px;
    }

    .schedule-form__group {
      flex: 1 1 calc(50% - 10px);
    }

    .schedule-form__button {
      flex: 1 1 100%;
    }

    .schedule__list {
      grid-template-columns: 1fr;
    }

    .review-card {
      flex: 0 0 100%;
    }
}